h1 {
    background-color: rgb(25, 0, 255);
    padding-left: 47%;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    
   
}

.breaker {
    padding-left: 40%;
    width: 30%;
}